
body {
    width: 800px;
}

img {
    border: black solid thin;
}

pre {
    xwidth: 1000;
    padding: 5pt;
}

textarea {
    margin-left: 10px;
}

input.button {
    margin-left: 10px;
    background-color: lightgray;
    font-size: 110%;
    padding: 5pt;
}

.navigation {
    padding: 5px;
    font-size: 120%;
    margin-bottom: 10px;
}

.bordered {
    border: black solid thin;
    padding: 8pt;
}

.dotted {
    border: black dotted thin;
}

.indented {
    margin-left: 10px;
}
