
body {
    width: 800px;
}

img {
    border: black solid thin;
}

pre {
    padding: 5pt;
}

textarea {
    margin-left: 10px;
}

dl {
    margin-left: 10px;
}

dd {
    margin-bottom: 5px;
}

ul.spacy > li {
    margin-bottom: 10px;
}

input.button {
    margin-left: 8px;
    background-color: lightgray;
    border: darkgrey solid medium;
    padding: 3pt;
}

.navigation {
    padding: 5px;
    font-size: 120%;
    margin-bottom: 20px;
}

.bordered {
    border: black solid thin;
    padding: 8pt;
}

.dotted {
    border: black dotted thin;
}

.indented {
    margin-left: 10px;
}

.nobreak {
    white-space: nowrap;
}

.red {
    color: red;
}
